{% extends "inicio/encabezado.html" %}

{% load static %}

{% block titulo %} COMENTARIOS DE CONTACTO {% endblock %}

{% block imagen %}{%static 'inicio/images/home.png'%}{% endblock%} 

{% block proyecto %} PRINCIPAL {% endblock %}
{% block contenido %}
<!-- Contenido Principal-->
<div class="page-content">

    <!-- Encabezado -->
    <div class="page-header">
        <div class="page-title">
            <h3>COMENTARIOS
                <small>Lista de Comentarios</small>
            </h3>
        </div>
    </div>
    <!-- /Encabezado -->

    <!-- Tabla de Alumnos -->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Mensaje</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for comentario in comentarios %}
            <tr>
                <td class="text-semibold">{{comentario.usuario}}</td>
                <td class="muted">{{comentario.mensaje}}</td>
                <td class="text-center">
                    <a href="{%url 'ConsultaIndividual' comentario.id%}">Editar</a>
                </td>
                <td class="text-center">
                    <a href="{% url 'Eliminar' comentario.id %}" style="color:red;">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- /Tabla de alumnos -->
</div>
{% endblock %}
